@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

.card {
  will-change: transform;
  transform-origin: center; /* ปรับการเปลี่ยนขนาดให้เป็นศูนย์กลาง */
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.card:hover {
  transform: scale(0.95); /* ลดขนาดเมื่อ hover */
}
.card:active {
  transform: scale(0.9); /* ลดขนาดเพิ่มเมื่อกด */
}

.no-scrollbar {
  scrollbar-width: none; /* สำหรับ Firefox */
  -ms-overflow-style: none; /* สำหรับ IE และ Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* สำหรับ Chrome, Safari และ Opera */
}
